@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Limelight&display=swap");

/* for making grid display */
.movie-grid {
  display: grid;
  grid-gap: 1rem; 
margin-top: 40px;
width: 80%;
margin-left: 10%;
}


/* each  movie card styling card  */
.flex_row {
  display: flex;
min-height: 200px;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

/* onhover it shows card tranform */
.flex_row:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.flex_column {
  flex: 0 0 30%;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.figure_container {
  width: 100%;
  margin: 0;
}

.figure_container img {
  width: 100%;
  min-height: 200px;
}

.movie-details {

  flex: 0 0 70%;
  padding: 0 1rem;
}


.movie-details p {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  margin-bottom: 0.5rem;
}

.movie-details strong {
  font-weight: bold;
  text-align: left;
}

.movie-details em {
  font-style: italic;
  text-align: right;
}

/* media queries for smaller screens */

@media (min-width: 768px) {
  /* For medium screens and larger, display 2 columns */
  .movie-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .flex_column {
    flex: 1;
  }
  .description_align {
    text-align: left;
  }
}

@media (max-width: 767px) {
  /* For small screens, display 1 column */
  .movie-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}


