@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Limelight&display=swap");

/* each  movie card styling card  */
.single_movie {
  display: flex;
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  min-height: 200px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

/* onhover it shows card tranform */
.flex_row:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.flex_column {
  flex: 0 0 30%;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.figure_container {
  width: 100%;
  margin: 0;
}

.figure_container img {
  width: 100%;
  min-height: 200px;
  padding-left: 10px;
}

.movie_details {
  flex: 0 0 70%;
  padding: 0 1rem;
}

.movie_details p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 0.5rem;
}

.movie_details strong {
  font-weight: bold;
  text-align: left;
}

.movie_details em {
  font-style: italic;
  text-align: right;
}

/* media queries for smaller screens */

@media (min-width: 768px) {
  /* For medium screens and larger, display 2 columns */

  .flex_column {
    flex: 1;
  }
  .description_align {
    text-align: left;
  }
}

@media (max-width: 468px) {
  .single_movie {
    width: 80%;
    margin-top: 15%;
    margin-left: 10%;
    min-height: 200px;
    display: block;
    width: auto;
    padding: 10px;
  }

  .figure_container img {
    width: 90%;
    max-height: 100px;
  }
  .movie_details {
    flex: 0 0 70%;
    padding: 0 1rem;
  }
}
